<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fzzz.mydemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--    网络框架现在不允许明文传输，会报错-->
    <!--    java.net.UnknownServiceException: CLEARTEXT communication to v.juhe.cn not permitted by network security policy-->
    <!--    需要设置        android:usesCleartextTraffic="true"-->
    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="mydemo"
                    android:host="shouye" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.result.ResultActivity" />
        <activity android:name=".ui.retrofit.RetrofitActivity" />
        <activity android:name=".ui.okhttp.OkHttpActivity" />
        <activity android:name=".ui.rxjava.RxJavaActivity" />
        <activity android:name=".ui.retrofit_rxjava.RetrofitRxjavaActivity" />
        <activity android:name=".ui.webview.JsWebActivity" />
        <activity android:name=".ui.webview.JsCameraActivity" />
        <activity android:name=".ui.forum.ForumActivity" />
        <activity android:name=".ui.launch_mode.LaunchModeActivity" />
        <activity
            android:name=".ui.launch_mode.Activity1"
            android:launchMode="standard" />
        <activity
            android:name=".ui.launch_mode.Activity2"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.launch_mode.Activity3"
            android:launchMode="singleTask" />
        <activity android:name=".ui.custom_view.CustomViewActivity" />
        <activity android:name=".ui.custom_view.CustomViewMenuActivity" />
        <activity android:name=".ui.leak.LeakActivity" />
        <activity android:name=".ui.swipe_refresh.SwipeRefreshActivity" />
        <activity android:name=".ui.webview.WebViewActivity" />
        <activity android:name=".ui.viewstub.ViewStubActivity" />
        <activity android:name=".ui.camera.CameraActivity" />
        <activity android:name=".ui.camera.TakePicOldActivity" />
        <activity android:name=".ui.camera.TakePicNewActivity" />
        <activity android:name=".ui.generic.GenericActivity" />
        <activity android:name=".ui.wifi.WifiActivity" />
        <activity android:name=".ui.gps.GpsActivity" />

    </application>

</manifest>